name: Test
on:
  push:
    branches:
      - master
      # - development

  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest] # windows-latest]
        node: ['18', '20']
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Github Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Setup bun
        uses: oven-sh/setup-bun@v1

      - name: Setup nextjs cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
            ${{ github.workspace }}/**/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lockb') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lockb') }}-

      - name: Install
        run: bun install --immutable

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun run test
        env:
          CI: true
          NEXT_TELEMETRY_DISABLED: 1

      - name: Build
        run: bun run build
        env:
          NEXT_TELEMETRY_DISABLED: 1
